<h2>Suche Deine(n) Partner(in) seit <b id="waiting_since"></b> Sekunden!</h2>
<div class="waiting_screen_animation_container">
    <div class="waiting_screen_animation waiting_screen_animation_left"></div>
    <div class="waiting_screen_animation waiting_screen_animation_mid"></div>
    <div class="waiting_screen_animation waiting_screen_animation_right"></div>
</div>