<!DOCTYPE html>
<html>
<head>
    <title>UwU.tours</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>UwU.tours</h1>
    <form action="/earnest" method="post">
        <label>Are you really earnest about this?</label><br>
        <input type="checkbox" id="Yes" name="earnestness" value="yes">
        <label for="yes">Yes, really</label><br>
        <input type="checkbox" id="No" name="earnestness" value="no">
        <label for="no">No, not really</label><br>
        <input type="checkbox" id="Maybe" name="earnestness" value="maybe">
        <label for="no">Maybe</label><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>