<!DOCTYPE html>
<html>
<head>
    <title>Dating App</title>
</head>
<body>
    <h1>Dating App</h1>
    <form action="/recognition" method="post">
        <label>Erkennungsmerkmale:</label>
        <label for="cat_ears">Katzenohren?</label>
        <select name="cat_ears" id="cat_ears" required>
            <option value="blinkenlights">Illuminated</option>
            <option value="plain">Plain</option>
            <option value="404">404</option>
        </select><br>
        <label for="color">If so, which color?</label><br>
        <textarea id="color" name="color"></textarea><br>
        <label for="distinguish">Any other distinguishing marks?</label><br>
        <textarea id="distinguish" name="distinguish"></textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>