<!DOCTYPE html>
<html>
<head>
    <title>Waiting Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Waiting Room</h1>
    <p>Waiting for a match...</p>
    <script>
        var socket = io();
        var text = "{{ session['text'] }}";
        socket.emit('join', {text: text});

        socket.on('match', function(data) {
            var accept = confirm("Match found! " + data.partner_text + " Accept?");
            if (accept) {
                socket.emit('response', {room: data.room, response: 'accept'});
            } else {
                socket.emit('response', {room: data.room, response: 'reject'});
            }
        });

        socket.on('meetup', function(data) {
            alert("Match accepted! Meet at " + data.location);
        });

        socket.on('rejected', function() {
            alert("Match rejected. Returning to waiting room.");
            location.reload();
        });
    </script>
</body>
</html>